<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/">Recipe Book</a>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/recipes">Recipes</a></li>
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/shopping-list">Shopping List</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <ng-template [ngIf]="!authService.isAuthenticated()">
        <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/signup">Register</a></li>
        <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/signin">Login</a></li>
      </ng-template>
      <ng-template [ngIf]="authService.isAuthenticated()">
        <li class="nav-item"><a class="nav-link" style="cursor:pointer" (click)="onLogout()">Logout</a></li>
        <li class="nav-item dropdown" appDropdown>
          <a class="nav-link dropdown-toggle" role="button" style="cursor: pointer;">
            Manage <span class="caret"></span>
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" style="cursor: pointer;" (click)="onSaveData()">Save Data</a>
            <a class="dropdown-item" style="cursor: pointer;" (click)="onFetchData()">Fetch Data</a>
          </div>
        </li>
      </ng-template>
    </ul>
  </div>
</nav>